---
import Layout from "../../layouts/Layout.astro";
import TeamCard from "../../components/TeamCard.astro";
import CalendarCard from "../../components/CalendarCard.astro";
import { calendarPages, calendars } from "../../data.json";
export async function getStaticPaths() {
    return calendarPages.map(({ type, name, path, tournament, imageName }) => {
        return {
            params: { path, tournament },
            props: { type, name, imageName },
        };
    });
}


const calendarBasePath = "m-franco.github.io/calendars/";

const { path, tournament } = Astro.params;
const { type, name, imageName } = Astro.props;

const tournamentName = tournament === "libertadores"? "Copa Libertadores" : "Copa Sudamericana";

const description =`Suscribite al calendario de${imageName? "" : "l"} ${type==="country"?"los":""} ${name}
${imageName? " en" : " de"} la Copa 
${tournament === "libertadores" ? " Libertadores" : " Sudamericana"}.</p> 
Tendrás todos los partidos incluidos
en el calendario de tu teléfono o tu computadora.`;

const title =`Calendario de${imageName? "" : "l"} ${type==="country"?"los":""} ${type==="tournament"?"":name + (imageName? " en" : " de")} la ${tournamentName}`;

---

<Layout 
    title={title}
    description={description}
    image=`../../img/icons/${type==="country"?"":tournament+"/"}${imageName?imageName:tournament+".png"}`
>
    <main>
        <h1 class="
            text-4xl sm:text-5xl md:text-6xl lg:text-7xl  
            text-center font-bold  p-0.5 mb-4">
            <span class="text-gradient">{name}</span>
        </h1>
        {type !=="tournament" &&
        <h2 class="text-lg sm:text-xl md:text-2xl lg:text-3xl">
            {tournament === "libertadores" ? "Copa Libertadores":"Copa Sudamericana"}
        </h2>}
        <div class="instructions flex flex-col justify-center 
        text-sm sm:text-base md:text-lg lg:text-xl my-12">
            <p>Suscribite al calendario de{imageName? "" : "l"} {type==="country"?"los":""} {name}
                {imageName? " en" : " de"} la Copa 
                {tournament === "libertadores" ? " Libertadores" : " Sudamericana"}.</p> 
            <span>
            Tendrás todos los partidos incluidos
            en el calendario de tu teléfono o tu computadora.</span>
        </div>

        <div class="w-full flex items-center justify-center my-4">
            {type==="tournament" &&<TeamCard type={type} name={`Calendario de todos los equipos de la ${name}`} imageName={imageName} tournament={tournament} />}
            {type==="country" &&<TeamCard type={type} name={`Calendario de todos los ${name.toLocaleLowerCase()}`} imageName={imageName} tournament={tournament} />}
            {type==="group" &&<TeamCard type={type} name={`Calendario de todos los equipos del ${name}`} imageName={imageName} tournament={tournament} />}
            {type==="team" &&<TeamCard type={type} name={name} imageName={imageName} tournament={tournament} />}
        </div>
        <div role="list" class="flex flex-col">
            <div class="bg-cyan-700/50 rounded-xl w-full px-1 py-4">
                <ul role="list" class="flex flex-wrap justify-around gap-2">
                    {
                        calendars.map(({ calendar, imageName, preLink, target }) => (
                            <li class="">
                                <CalendarCard
                                    calendar={calendar}
                                    link={type==="tournament"
                                    ?`${preLink}${calendarBasePath}${tournament === "libertadores"?"Libertadores":"Sudamericana"}.ics`
                                    :`${preLink}${calendarBasePath}${tournament}/${path}.ics`}
                                    imageName={imageName}
                                    tournament={tournament}
                                    target={target}
                                />
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    h2 {
        font-weight: 600;
        text-align: center;
        margin-bottom: 2em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
            rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%)
        );
        padding: 1.5rem;
        border-radius: 8px;
    }
</style>
