---
import Layout from '../../layouts/Layout.astro';
import Teams from '../../components/Teams.astro';
import Countries from '../../components/Countries.astro';
import AllTournament from '../../components/AllTournament.astro';
import { countries, tournaments, tournamentPages  } from "../../data.json";

export async function getStaticPaths() {
    return tournamentPages.map(({ typeName, name, tournament }) => {
        return {
            params: { tournament },
            props: { typeName, name },
        };
    });
}

const { tournament } = Astro.params;
const { typeName, name } = Astro.props;

const tournamentData = tournaments.find((t) => t.href === tournament)!;

const { href, imgSrc, backgroundImage } = tournamentData;
const groups = tournamentData["groups"];


const description="Suscribite al calendario de tu equipo, de todo el grupo o de toda la copa y tendrás todos los partidos incluidos en el calendario de tu teléfono o tu computadora.";
---

<Layout 
    title=`Calendarios de ${name}`
    description={description}
    image={imgSrc}
    >
	
	<main>
        <h1 class="
            text-4xl sm:text-5xl md:text-6xl lg:text-7xl  
            text-center font-bold  p-0.5 mb-4">
            {typeName} <span class="text-gradient">{name}</span>
        </h1>

		<p class="instructions flex justify-center 
        text-sm sm:text-base md:text-lg lg:text-xl mt-12
        ">
            {description}
        </p>
        <AllTournament 
            title=`Calendario de todos los equipos de la ${typeName} ${name}` 
            href=`${href}/Completa`
            imgSrc={imgSrc}
            backgroundImage={backgroundImage}
        />
        <Countries countries={countries} tournament={href} />
        <Teams groups={groups} tournament={href} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
</style>
